---
import Layout from '../layouts/Layout.astro'
import { Books } from '../components/Books'
---

<Layout title="Welcome to Astro.">
  <main class="max-w-7xl mx-auto flex flex-col p-4 xl:py-8 xl:px-0">
    <Books client:only />
  </main>
</Layout>
